<% provide(:title, 'Home') %>
<% if signed_in? %>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to BestBay!</h1>

    <h2>
      You have no home page now, please sign up.
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

<% end %>