<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Dear <%= @user.fname %></h1>
<p>
  Your account <%= @user.email %> with BestBay has been deactivated.<br/>
</p>
<p>
  You will not be able to login to the site with this account. <br/>
</p>
</body>
</html>