<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Dear <%= @user.fname %></h1>
<p>
  Your account on BestBay has been deleted. You can no longer use this account.<br/>
</p>
<p>Team BestBay</p>
</body>
</html>