<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Hi <%= @user.fname %>,
  <br><br/><%= @message.message_text %>.<br><br/>
</p>
<p>Team BestBay</p>
</body>
</html>
