<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Dear <%= @user.fname %></h1>
<p>
Your item <%= @item.name %> has been deactivated.<br/>
</p>
<p>
To login to the site, just follow this link: <%= @url %>.
</p>
<p>Team BestBay</p>
</body>
</html>
