<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Hi <%= @user.fname %>,
  <br>You have successfully created an account on BestBay.</br>
  <br>Your username is: <%= @user.email %>.<br/>
</p>
<p>
To activate your account, please paste this link in your browser tab: 
Temporary URL - <%= @url %> 
Actual URL - <%= @actual_url %>
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>
