<% if current_user.is_admin? %>
    <div id ="deactivate_item_form">
      <% if @item.deactivated %>
        <%= render 'activate_item'%>
      <% else %>
        <%= render 'deactivate_item'%>
      <% end %>
    </div>
<% end %>